.usersOptions {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}
.addUsersBtnStyle {
    margin-bottom: 16px;
    margin-right: 1em;
}

.drawerInfo label{
    display: block;
}
.drawerGroupedBtns {
    margin-top: 1em;
}
.drawerGroupedBtns button {
    margin-right: 0.2em;
}

.userDrawer .ant-drawer-content-wrapper {
    width: 30% !important;
}